html {
    font-size: 16px;
}

body, html {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3rem;
    margin: 0;
    padding-top: 10px;
}
.choice-home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.human-choice-container, .computer-choice-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.human-choice-container {
    margin-top: 50px;
}

.human-choice-box, .computer-choice-box {
    width: 100px;
    height: 100px;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
}

.human-choice-box {
    background-color: lightsteelblue;
}

.computer-choice-box {
    background-color: indianred;
}

.human-choice-container p, .computer-choice-container p {
    margin: 0;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.rock {
    background-image: url('https://cdn.pixabay.com/photo/2014/12/22/00/03/rock-576669_960_720.png');
}

.scoreboard {
    margin-top:25px;
    margin-bottom: 15px;
    font-size: 2em;
}